$color-gray: #8B8F98;
$color-light-gray: #C0C6D1;
$color-light-gray1: #E1E4EB;
$color-light-gray2: #F9F9F9;
$color-white: #FFF;
$color-lilac: #828BAB;
$color-lilac1: #C8D5FF;
$color-blue: #3452B4;
$color-blue1: #1E378B;
$color-blue2: #5B76CF;
$color-black: #000;
$color-danger: #E03A15;

